In [1]:
import pandas as pd
import numpy as np

In [2]:
path = 'poblacion_global_2020.csv'

# Ejercicio

Examina detenidamente el siguiente dataset y responde las siguientes preguntas:

* ¿Porqué cumple con las condiciones de Tidy Data?
* ¿Cuál es el data point principal y cual es la meta data?
Data point: Los paises. El resto metadata.
* Si quisieramos saber más sobre los niveles educativos globales ¿Qué otras características necesitariamos para este data set?
Pueden elegirse muchos: % población con determinado nivel de estudios. Edad media de cada nivel de estudios. % de hombres y mujeres en cada uno, clasificación en comparativas internacionales 
* ¿Qué tipo de análisis harías con este data set?
Análisis demograficos y poblacionales

In [3]:
df = pd.read_csv(path)

df.head()

,Pais,Poblacion (2020),Densidad,Territorio (Km²),Tasa Migracion,Tasa Fertilidad,Edad Promedio,% Poblacion Urbaba
0,China,1440297825,153,9388211,-348399.0,1.7,38,61 %
1,India,1382345085,464,2973190,-532687.0,2.2,28,35 %
2,Estados Unidos,331341050,36,9147420,954806.0,1.8,38,83 %
3,Indonesia,274021604,151,1811570,-98955.0,2.3,30,56 %
4,Pakistán,221612785,287,770880,-233379.0,3.6,23,35 %

# Ejercicios:

Manipula el dataset, de manera que respondas las siguientes preguntas:

1. ¿Cual es el promedio de Tasa de Fertilidad global?
2. ¿Que país tiene la Edad Promedio más alta y cual la más baja?
3. Agrupa los países por continente y obtén la mediana de la población urbana
4. ¿Qué otro de cálculo de interés (usando estas variables) crees pertinente para comparar la calidad de vida a nivel global? ¿Porqué?

In [6]:
#1.- Tasa de fertilidad global
df.dtypes

Pais                   object
Poblacion (2020)        int64
Densidad                int64
Territorio (Km²)        int64
Tasa Migracion        float64
Tasa Fertilidad        object
Edad Promedio          object
% Poblacion Urbaba     object
dtype: object

In [16]:
#Quitamos los resultados N.A.
df1 = df[df['Tasa Fertilidad']!='N.A.']
#convertimos a numerico y calculamos media:
df1['Tasa Fertilidad'].astype(float).mean()

2.6930348258706465

In [30]:
#2.-Pais edad promedio más alta y baja
#Quitamos los resultados N.A.
df2 = df[df['Edad Promedio']!='N.A.']
#convertimos a numerico y calculamos max y min:
maximo = df2['Edad Promedio'].max()
minimo = df2['Edad Promedio'].min()
#Identificamos pais con esos valores
print('Valor maximo:', maximo, ' y el Pais: ', df2.loc[df2['Edad Promedio'] == maximo,'Pais'].values[0])
print('Valor minimo: ', minimo, 'y el Pais: ',df2.loc[df2['Edad Promedio'] == minimo,'Pais'].values[0])

Valor maximo: 48  y el Pais:  Japan
Valor minimo:  15 y el Pais:  Niger

In [35]:
#Agrupa por continentes y calcula mediana población urbana:
df_cont= pd.read_csv('continente_pais.csv', delimiter =';' )
df_cont.head()

  Continente       Pais
0     EUROPA    Austria
1     EUROPA    Bélgica
2     EUROPA   Bulgaria
3     EUROPA     Chipre
4     EUROPA  Dinamarca

In [52]:
dfext = df1.merge(df_cont, how = 'left', on='Pais')
dfext.head()

,Pais,Poblacion (2020),Densidad,Territorio (Km²),Tasa Migracion,Tasa Fertilidad,Edad Promedio,% Poblacion Urbaba,Continente
0,China,1440297825,153,9388211,-348399.0,1.7,38,61 %,ASIA
1,India,1382345085,464,2973190,-532687.0,2.2,28,35 %,ASIA
2,Estados Unidos,331341050,36,9147420,954806.0,1.8,38,83 %,AMERICA
3,Indonesia,274021604,151,1811570,-98955.0,2.3,30,56 %,ASIA
4,Pakistán,221612785,287,770880,-233379.0,3.6,23,35 %,ASIA

In [60]:
dfext['% Poblacion Urbaba']= dfext['% Poblacion Urbaba'].str.replace('%','')
dfext.head()

,Pais,Poblacion (2020),Densidad,Territorio (Km²),Tasa Migracion,Tasa Fertilidad,Edad Promedio,% Poblacion Urbaba,Continente
0,China,1440297825,153,9388211,-348399.0,1.7,38,61,ASIA
1,India,1382345085,464,2973190,-532687.0,2.2,28,35,ASIA
2,Estados Unidos,331341050,36,9147420,954806.0,1.8,38,83,AMERICA
3,Indonesia,274021604,151,1811570,-98955.0,2.3,30,56,ASIA
4,Pakistán,221612785,287,770880,-233379.0,3.6,23,35,ASIA

In [61]:
dfext2 = dfext[dfext['% Poblacion Urbaba']!='N.A.']
dfext2['% Poblacion Urbaba'].astype(float)

0      61.0
1      35.0
2      83.0
3      56.0
4      35.0
       ...
196    44.0
197    24.0
198    96.0
199    56.0
200    26.0
Name: % Poblacion Urbaba, Length: 194, dtype: float64

In [64]:

dfext3 = dfext2.groupby('Continente')
dfext3['% Poblacion Urbaba'].median()

Continente
AFRICA     46.0
AMERICA    69.0
ASIA       58.0
EUROPA     70.0
OCEANIA    33.0
Name: % Poblacion Urbaba, dtype: float64

In [ ]:
#¿Qué otro de cálculo de interés (usando estas variables) crees pertinente para comparar la calidad de vida a nivel global? ¿Porqué?
analizar la densidad contra la población urbana, tasa de fertilidad contra edad promedio,la tasa de migración frente a la densidad. Cada uno ofrece una vista diferente de la situacióin de la población.